{% extends "update/base.html" %}

{% block title %} Update project in the web {% endblock %}

{% block content %}
<table class="table table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>App Name</th>
			<th>{{ apps.static.source_dir }}</th>
			<th>{{ servers.static.web1.ip }}</th>
		</tr>
	</thead>
	<tbody>
	{% for app in apps %}
	<tr>
    <td>{{ forloop.counter }}</td>
	<td>{{ app }}</td>
	<td>{{ app.update_dir }}</td>
	<td>{{ servers.app.web1 }}</td>
	<td><button class="btn btn-primary">Deploy</button></td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
